:root {
    --main-font-color: #fff;
    --main-background-color: #383838;
    --header-background-color: rgba(56, 56, 56, 0.7);
    --nav-background-color: #00A8E8;
    --nav-color: #fff;
    --space-ship-color: #fccb19;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--main-font-color);
    font-family: "Roboto";
    background-color: var(--main-background-color);
    background-image: url("./assets/tileable-classic-nebula-space-patterns-6/tileable-classic-nebula-space-patterns-6.jpg");
    animation: fadein 3s;
    /* background: #606c88;  
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  
    background: linear-gradient(to right, #3f4c6b, #606c88); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    fill: yellow;
    
}

a {
    text-decoration: none;
    color: #fff;
}

.main-wrapper {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
}

.header-wrapper {
    /* background-image: url("./assets/spiration dark/spiration dark.png"); */
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--header-background-color);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.description-heading {
    font-size: 35px;
    color: #5AAB92;
    font-weight: 300;
}

.header-wrapper button i {
    font-size: 40px;
    color: #ffffff;
}

.nav-wrapper {
    width: 70%;
    height: 100vh;
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    position: absolute;
    left: -70%;
    top: 0;
    float: left;
    transition: .6s all;
}



.nav-wrapper-active {
    left: 0;
    z-index: 1;
    transition: .6s all;
}

.hamburger {
    font-size: 30px;
    color: var(--nav-color);
    float: right;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#openSB {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#openSB:hover {
    color: #0085BA;
}

i {
    color: #0085Ba;
}

#openSB i {
    font-size: 25px;
}

#openSB i:hover {
    color: #0085BA; 
}

.nav-bar-list {
    font-size: 1.3em;
    padding: 25px;
}

.nav-bar-list li {
    margin-top: 15px;
    cursor: pointer;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.content-container {
    margin: 20px auto;
    width: 95%;
}

.multiSoundDetails {
    display: none;
}

.desktop-links{
    display: none;
}

.desktop-links li {
    font-size: 1.4rem;
    margin-right: 30px;
    cursor: pointer;
}

.desktop-links li:hover {
    color: var(--nav-background-color);
}

.footer {
    width: 100%;
    height: 50px;
    background-color: var(--header-background-color);
    z-index: 2;
    /* background-image: url("./assets/spiration dark/spiration dark.png"); */
}

.social-container {
    width: 100%;
    margin-bottom: 20px;
    height: 40%;
    box-shadow: 0 8px 6px -6px #0085Ba ;
    display: grid;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    color: #333;
    grid-template-areas: 
    "p d d d d d d d d d d d d"
    "p d d d d d d d d d d d d"
}

.picture {
    width: 200px;
    height: 100%;
    grid-area: p;
    margin-left: 10px;
}

.picture img {
    border: 3px solid #00A8E8;
}

#carver-bench {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.desc {
    height: 100%;
    width: 80%;
    grid-area: d;
}

.social_icons {
    color: black;
    font-size: 20px;
    margin-right: 5px;
}

#envelope {
    margin-right: 5px;
}

#email {
    font-size: 16px;
}

.social_icons-container {
    margin-bottom: 25px;
    margin-top: 10px
}

.social-icons {
    padding-top: 10px;
    font-weight: 500;
    font-size: 1.3rem;
}

.description {
    line-height: 1.1em;
}

iframe {
    display: block;
    margin: 0 auto;
}


@media(min-width: 850px){
    .nav-wrapper{
        display: none;
    }
    #openSB {
        display: none;
    }
    .content-container{
        width: 80%;
        margin: 20px auto;
        min-height: calc(100vh - 140px);
    }
    .header-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .desktop-links{
        display: flex;
    }
}

.random-span {
    display: block;
    height: 3px;
    width: 30px;
    animation: jiggle 2s infinite alternate;
}

.span2 {
    margin-left: 30px;
}

.span3 {
    margin-left: 58px;
}

#random3 {
    margin-right: 0;
    background-color: #00A8E8;
    border-radius: 5px;
}

#random3 h2 {
    background-color: #00A8E8;
    padding: 5px;
    margin-top: -5px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px #FFF;
}

#random3 h2:hover {
    background-color: #fff;
    box-shadow: 2px 2px 0px #00A8E8;
}

#superpower {
    position: absolute;
    top: 10%;
    color: rgba(199, 199, 82, 0.2);
    font-size: 300px;
    animation: animation2 50s alternate infinite;
}

#superpower2 {
    position: absolute;
    top: 50%;
    color: rgba(199, 199, 82, 0.2);
    font-size: 300px;
    animation: animation1 50s alternate infinite;
}

@keyframes animation1{
    0% {
        top: 10%;
        left: 0;
        transform: rotate(0deg);
    }

    25% {
        top: 30%;
        left: 70%;
        transform: rotate(360deg);
    }

    50% {
        top: 10;
        left: 70%;
        transform: rotate(360deg);
    }

    100% {
        top: 70%;
        left: 0;
        transform: rotate(360deg);
    }
}

@keyframes animation2{
    from {
        top: 50%;
        left: 0;
        transform: rotate(0deg);
    }

    to {
        top: 50%;
        left: 70%;
        transform: rotate(360deg);
    }
}

@keyframes jiggle {
    from {
        transform: translate3d(-1px, 0, 0);
    }
    to {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

.listen {
    text-align: center;
    font-size: 50px;
    margin: 10px auto;
    margin-top: 50px;
    color: #fff;
    font-weight: 700;
}

#listen-arrow {
    font-size: 70px;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 50px;
    color: #fff;
    animation: bounce 1s infinite alternate;
}

.sound-cloud-heading {
    text-align: center;
}

@keyframes bounce {
    from {
        transform: translateY(0)
    }

    to {
       transform: translateY(-10px)
    }
}

.carver-images {
    margin-top: 3%;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    flex-direction: column;
    fill: yellow;
}

.carver_tickets {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #fff;
    margin: 20px auto;
    transform: translateX(-1500px)
}

.carver_tickets_caption {
    font-size: 4rem;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 28px;
    font-weight: 700;
}

.big-words {
    font-size: 1.3em;
}

.active {
    transform: translateX(0px);
    transition: 1s all;
}

.accent-color {
    color: #00A8E8;
}

#pod {
    font-size: 35px;
}

.star-wars-ship {
    width: 300px;
    height: 300px;
    transform: translateX(-500px);
    display: inline-block;
    position: absolute;
    top: 160%;
}

.remove-transform {
    transition: all 2s;
    transform: translateX(50vw);
    width: 300px;
    height: 300px;
    display: inline-block;
    position: absolute;
    top: 160%;
}

.space-ship-button {
    width: 20%;
    margin: 20px auto;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: var(--space-ship-color);
    color: #fff;
    cursor: pointer;
}
