<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="index2.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/d5bf84daf1.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main-wrapper">
        <div class="header-wrapper">
            <div class="mobile-nav-wrapper">
                <button class="times-icon"><i class="fa fa-times" aria-hidden="true"></i></button>
                <ul class="mobile-nav-bar-list">
                    <li><a>About</a></li>
                    <li><a id="mobile-active-link">Episodes</a></li>
                    <li><a>Random</a></li>
                </ul>
            </div>
            <button class="bars"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <ul class="desktop-links">
                <li><a>About</a></li>
                <li><a href="index2.html">Episodes</a></li>
                <li><a>Random</a></li>
            </ul>
        </div>

        <div class="jumbotron episodes-jumbo">
            <img class="logo" src="../../assets/ef-logo.jpg">
        </div>

        <div id="root" class="container">
            <div class="container bio-wrapper">
                <div class="row">
                    <div class="bio-heading col-md-12">
                        <h1>EXPERTS IN FILM: THE AMATEUR INTEREST HOUR</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="bio-description col-md-10 col-md-offset-2">
                        <p class="description">I love movies. I read up on them, study them, and watch a lot of them. I love to talk about movies. I invite experts to come talk about film.</p> <br /> <p class="description"> Why are they experts? Because I say so. Our guests are amateurs, sometimes they are experts (but definitely not in film), and occasionally they are legitimate film experts.</p> <br /> <p class="description"> Listen in to learn about film from people who seem like they know what they are talking about. People tend to know more about film than they think they know.</p>
                        <!-- <blockquote>
                                I love movies. I read up on them, study them, and watch a lot of them. I love to talk about movies. I invite experts to come talk about film. Why are they experts? Because I say so. Our guests are amateurs, sometimes they are experts (but definitely not in film), and occasionally they are legitimate film experts. Listen in to learn about film from people who seem like they know what they are talking about. People tend to know more about film than they think they know.
                        </blockquote> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 social-icons-wrapper">
                        <a class="social-icon fa fa-facebook-square" href="https://www.facebook.com/expertsinfilm/" target="_blank"></a>
                        <a class="social-icon fa fa-soundcloud" href="https://soundcloud.com/expertsinfilm" target="_blank"></a>
                        <a class="social-icon fa fa-instagram" href="https://www.instagram.com/expertsinfilm/" target="_blank"></a>
                        <a class="social-icon fa fa-envelope" href="mailto:carverspodcasts@gmail.com"></a>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <p>Episodes</p>
                <ul class="quick-links">
                    <a href="#The-Big-Sick"><li>The Big Sick</li></a>
                    <a href="#Governor-Herbert"><li>Governor Herbert!</li></a>
                    <a href="#Leaving-Las-Vegas-with-Marc-Nicholas"><li>Leaving Las Vegas with Marc Nicholas</li></a>
                    <a href="#The-Wicker-Man-with-David-Hart"><li>The Wicker Man with David Hart</li></a>
                </ul>
            </div>

        </div>

		<footer class="footer-distributed">
            <div class="footer-right">
                <a href="https://www.facebook.com/expertsinfilm/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://soundcloud.com/expertsinfilm" target="_blank"><i class="fa fa-soundcloud"></i></a>
                <a href="https://www.instagram.com/expertsinfilm/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="mailto:carverspodcasts@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">Episodes</a>
                    ·
                    <a href="#">About</a>
                </p>
                <p>Experts in Film: The Amateur Interest Hour &copy; 2018</p>
            </div>
        </footer>
    </div>

    <script src="index2.js"></script>
</body>
</html>