<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="index2.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/d5bf84daf1.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main-wrapper">
        <div class="header-wrapper">
            <div class="mobile-nav-wrapper">
                <button class="times-icon"><i class="fa fa-times" aria-hidden="true"></i></button>
                <ul class="mobile-nav-bar-list">
                    <li><a>About</a></li>
                    <li><a id="mobile-active-link">Episodes</a></li>
                    <li><a>Random</a></li>
                </ul>
            </div>
            <button class="bars"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <ul class="desktop-links">
                <li><a>About</a></li>
                <li><a href="index2.html">Episodes</a></li>
                <li><a>Random</a></li>
            </ul>
        </div>

        <div class="jumbotron episodes-jumbo">
            <img class="logo" src="../../assets/ef-logo.jpg">
        </div>

        <div class="container">
            <div class="container bio-wrapper">
                <div class="row">
                    <div class="bio-heading col-md-12">
                        <h1>EXPERTS IN FILM: THE AMATEUR INTEREST HOUR</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="bio-description col-md-10 col-md-offset-2">
                        <p class="description">I love movies. I read up on them, study them, and watch a lot of them. I love to talk about movies. I invite experts to come talk about film.</p> <br /> <p class="description"> Why are they experts? Because I say so. Our guests are amateurs, sometimes they are experts (but definitely not in film), and occasionally they are legitimate film experts.</p> <br /> <p class="description"> Listen in to learn about film from people who seem like they know what they are talking about. People tend to know more about film than they think they know.</p>
                        <!-- <blockquote>
                                I love movies. I read up on them, study them, and watch a lot of them. I love to talk about movies. I invite experts to come talk about film. Why are they experts? Because I say so. Our guests are amateurs, sometimes they are experts (but definitely not in film), and occasionally they are legitimate film experts. Listen in to learn about film from people who seem like they know what they are talking about. People tend to know more about film than they think they know.
                        </blockquote> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 social-icons-wrapper">
                        <a class="social-icon fa fa-facebook-square" href="https://www.facebook.com/expertsinfilm/" target="_blank"></a>
                        <a class="social-icon fa fa-soundcloud" href="https://soundcloud.com/expertsinfilm" target="_blank"></a>
                        <a class="social-icon fa fa-instagram" href="https://www.instagram.com/expertsinfilm/" target="_blank"></a>
                        <a class="social-icon fa fa-envelope" href="mailto:carverspodcasts@gmail.com"></a>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <p>Episodes</p>
                <ul class="quick-links">
                    <a href="#The-Big-Sick"><li>The Big Sick</li></a>
                    <a href="#Governor-Herbert"><li>Governor Herbert!</li></a>
                    <a href="#Leaving-Las-Vegas-with-Marc-Nicholas"><li>Leaving Las Vegas with Marc Nicholas</li></a>
                    <a href="#The-Wicker-Man-with-David-Hart"><li>The Wicker Man with David Hart</li></a>
                </ul>
            </div>

            <div class="container episode-wrapper">
                <span id="The-Big-Sick" class="anchor"></span>
                <div class="row date">
                    <p>JANUARY 15, 2018</p>
                </div>
                <div class="episode-title">
                    <h2>The Big Sick with Tanner Talley</h2>
                </div>
                <div class="episode-description">
                    <div class="row">
                        <div class="container-fluid">
                            <P>Celebrating the start of the Sundance Film Festival, me and my wife, Tanner Talley, review a Sundance hit from last year, The Big Sick! We talk about what makes this movie great, the genre of the Romantic Comedy, and give Ray Romano high praise.</P>
                        </div>
                    </div>
                </div>
                <div class="episode">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/384297215&amp;color=%239f3d3e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </div>
            </div>

            <div class="container episode-wrapper">
                <span id="Governor-Herbert" class="anchor"></span>
                <div class="row date">
                    <p>JANUARY 9, 2018</p>
                </div>
                <div class="episode-title">
                    <h2>GOVERNOR HERBERT!</h2>
                </div>
                <div class="episode-description">
                    <div class="row">
                        <div class="container-fluid">
                            <p>Governor Herbert invites the podcast into his office! We talk to him about current Utah issues such as Bears Ears National Monument, the Budget, and the upcoming Legislature! We hear his recommendations for movies and some of his favorites.</p>
                        </div>
                    </div>
                </div>
                <div class="episode">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/380880809&amp;color=%23b84e4e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </div>
            </div>

            <div class="container episode-wrapper">
                <span id="Leaving-Las-Vegas-with-Marc-Nicholas" class="anchor"></span>
                <div class="row date">
                    <p>JANUARY 4, 2018</p>
                </div>
                <div class="episode-title">
                    <h2>Leaving Las Vegas with Marc Nicholas</h2>
                </div>
                <div class="episode-description">
                    <div class="row">
                        <div class="container-fluid">
                            <p>Fun Fact #1: Nicolas Cage once won an oscar. Fun Fact #2: That movie was called Leaving Las Vegas. Fun Fact #3: Marc Nicholas, my brother, and I watched that movie and HATED it. Come listen and find out why and listen to our discussion on why an oscar nominated film could be terrible and what makes a good movie!</p>
                        </div>
                    </div>
                </div>
                <div class="episode">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/378664610&amp;color=%239f3d3e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </div>
            </div>

            <div class="container episode-wrapper">
                <span id="The-Wicker-Man-with-David-Hart" class="anchor"></span>
                <div class="row date">
                    <p>JANUARY 4, 2018</p>
                </div>
                <div class="episode-title">
                    <h2>The Wicker Man with David Hart</h2>
                </div>
                <div class="episode-description">
                    <div class="row">
                        <div class="container-fluid">
                            <p>For the final episode of the Cage before Christmas, we cover the 2006 horror film, The Wicker Man. David Hart stops in and we try to talk about one of the most confusing movies we have seen in a while. Can Nicolas Cage save this trainwreck, or is he the conductor?</p>
                        </div>
                    </div>
                </div>
                <div class="episode">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/378669407&amp;color=%239f3d3e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </div>
            </div>
        </div>

		<footer class="footer-distributed">
            <div class="footer-right">
                <a href="https://www.facebook.com/expertsinfilm/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://soundcloud.com/expertsinfilm" target="_blank"><i class="fa fa-soundcloud"></i></a>
                <a href="https://www.instagram.com/expertsinfilm/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="mailto:carverspodcasts@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">Episodes</a>
                    ·
                    <a href="#">About</a>
                </p>
                <p>Experts in Film: The Amateur Interest Hour &copy; 2018</p>
            </div>
        </footer>
    </div>

    <script src="index2.js"></script>
</body>
</html>